<div class="container">
  <div class="schedule">
    <h1 class="mat-display-1">Check back later</h1>
    <div flex fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="center">
      <mat-card class=".mat-elevation-z0">
        <img class="rounded-circle" mat-card-image src="assets/devfest.png">
      </mat-card>
    </div>
    <a mat-stroked-button target="_blank" href="https://goo.gl/forms/Uc4ZOhH8Sr6Jvubm2">
      <h1>
        Call for speakers
      </h1>
    </a>
  </div>
</div>