<div class="container">

  <div *ngIf="(team$ | async) as team">
    <h1 class="mat-display-1">Team</h1>
    <div flex fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="start start">
      <div fxFlex="25" *ngFor="let member of team">
        <mat-card>
          <img class="rounded-circle" mat-card-image src="{{ member.photoUrl }}" onError="this.src='assets/team/speaker.png'">
          <h2 class="mat-headline">{{ member.name }}</h2>
          <div class="social">
            <a *ngIf="member.socials?.twitter" target="_blank" href="{{ member.socials.twitter }}">
              <mat-icon fontSet="fa" fontIcon="fa-twitter" class="fa-2x"></mat-icon>
            </a>
            <a *ngIf="member.socials?.linkedin" target="_blank" href="{{ member.socials.linkedin }}">
              <mat-icon fontSet="fa" fontIcon="fa-linkedin" class="fa-2x"></mat-icon>
            </a>
            <a *ngIf="member.socials?.facebook" target="_blank" href="{{ member.socials.facebook }}">
              <mat-icon fontSet="fa" fontIcon="fa-facebook" class="fa-2x"></mat-icon>
            </a>
            <a *ngIf="member.socials?.personal" target="_blank" href="{{ member.socials.personal }}">
              <mat-icon fontSet="fa" fontIcon="fa-globe" class="fa-2x"></mat-icon>
            </a>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>