<div class="container">
  <!-- Welcome section -->
  <div flex fxLayout="row" fxLayout.xs="column">
    <div fxFlex="50">
      <h1 class="mat-display-3">
        Welcome to {{ title }}!
      </h1>
    </div>
    <div fxFlex="50">
      <img width="300" alt="Angular Logo" src="assets/gdgaccra.png">
    </div>
  </div>
  <!-- Welcome section -->

  <!-- Info section -->
  <div flex fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px grid" fxLayoutAlign="space-evenly stretch" class="info">
    <div fxFlex="25" *ngFor="let item of main">
      <mat-card class=".mat-elevation-z0">
        <mat-card-title>{{ item.title }}</mat-card-title>
        <mat-card-content>
          <p>{{ item.content }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <!-- Info section -->

  <!-- speaker section -->
  <div class="speaker">
    <h2>Rockstar Speakers</h2>
    <div flex fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
      <div fxFlex="25" *ngFor="let speaker of speakers">
        <mat-card class=".mat-elevation-z0">
          <img class="rounded-circle" mat-card-image src="assets/speaker.png">
          <h2 class="mat-headline">{{ speaker.name }}</h2>
          <p class="mat-subheading-1">{{ speaker.name }}</p>
        </mat-card>
      </div>
    </div>
    <a mat-stroked-button routerLink="/speakers">View All Speakers</a>
  </div>
  <!-- speaker section -->

</div>