.welcome {
  margin-top: 30px;
  /* height: 400px; */
}
.mat-display-3 {
  margin: 0 !important;
}
.welcome-card {
  height: 80%;
}
.welcome-card-image {
  margin: 0 auto;
  height: 100%;
}
.info {
  height: 100%;
}
.speaker {
  text-align: center;
}
.rounded-circle {
  border-radius: 50% !important;
}
mat-card img {
  width: 50%;
}
