<div class="container">

  <!-- Welcome section -->
  <div class="welcome">
    <div flex fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px grid" fxLayoutAlign="space-around center">
      <div fxFlex="50" fxLayout="column">
        <h1 class="mat-display-3">
          Welcome to {{ title }}!
        </h1>
        <h2>GDG #DevFest18</h2>
        <p class="mat-subheading-2">GDG Accra is pleased to announce #DevFest18. Its that season that brings together
          developers from all walks
          of life, giving them a chance to showcase what they have been up to this year. Its that season, where the
          community comes alive. This year is no different.
        </p>
      </div>
      <div fxFlex="50" fxLayoutAlign="center">
        <mat-card flex fxLayout="row" class=".mat-elevation-z0 welcome-card">
          <img alt="GDG ACCRA" src="assets/gdgaccra.png" class="welcome-card-image">
        </mat-card>
      </div>
    </div>
  </div>
  <!-- Welcome section -->

  <!-- Info section -->
  <div flex fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px grid" fxLayoutAlign="space-evenly stretch" class="info">
    <div fxFlex="25" *ngFor="let item of main">
      <mat-card class=".mat-elevation-z0">
        <mat-card-title>{{ item.title }}</mat-card-title>
        <mat-card-content>
          <p>{{ item.content }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <!-- Info section -->

  <!-- speaker section -->
  <div class="speaker">
    <h2>Rockstar Speakers</h2>
    <div flex fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
      <div fxFlex="25" *ngFor="let speaker of speakers">
        <mat-card class=".mat-elevation-z0">
          <img class="rounded-circle" mat-card-image src="assets/speaker.png">
          <h2 class="mat-headline">{{ speaker.name }}</h2>
          <p class="mat-subheading-1">{{ speaker.company }}</p>
        </mat-card>
      </div>
    </div>
    <a mat-stroked-button routerLink="/speakers">View All Speakers</a>
  </div>
  <!-- speaker section -->

</div>