<div class="container">
  <div class="social">
    Follow us
    <a target="_blank" href="https://twitter.com/GDGAccra">
      <mat-icon fontSet="fa" fontIcon="fa-twitter"></mat-icon>
    </a>
    <a target="_blank" href="https://www.meetup.com/GDG-Accra/">
      <mat-icon fontSet="fa" fontIcon="fa-meetup"></mat-icon>
    </a>
    <a target="_blank" href="https://facebook.com/gdgaccra/">
      <mat-icon fontSet="fa" fontIcon="fa-facebook"></mat-icon>
    </a>
  </div>
  <mat-divider></mat-divider>
  <div flex fxLayout="row" fxLayout.xs="column">
    <div fxFlex="30">
      <mat-card class=".mat-elevation-z0">
        <mat-card-title>About</mat-card-title>
        <mat-card-content>
          <mat-list-item><a href="https://www.meetup.com/GDG-Accra/">GDG Accra</a></mat-list-item>
          <mat-list-item><a href="https://developers.google.com/programs/community/gdg/">Google Developers' Group</a></mat-list-item>
          <mat-list-item><a routerLink="/team">Meet the team</a></mat-list-item>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="30">
      <mat-card class=".mat-elevation-z0">
        <mat-card-title>Event Resources</mat-card-title>
        <mat-card-content>
          <mat-list-item><a href="https://goo.gl/forms/d5j2QWfkQKZ67tWH3">Call for papers</a></mat-list-item>
          <mat-list-item><a href="#">FAQs</a></mat-list-item>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="40">
      <mat-card class=".mat-elevation-z0">
        <mat-card-content>
          No spam, only the latest news
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <mat-divider></mat-divider>
  <span class="pull-right">© 2018 GDG Accra · Code of Conduct</span>
</div>